.title-container {
    display: flex;
    align-content: center;

    h1 {
        margin: 0;
    }

    margin-bottom: 2rem;
}

mat-icon {
    margin-right: 1rem;
    color: color($accent);
    transform: translateY(0.2rem) scale(1.3);
}

.mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
}