<form [formGroup]="form">
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Origen</mat-label>
        <input type="text" matInput formControlName="origin" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Poder</mat-label>
        <mat-select formControlName="power" name="food">
            <mat-option [value]="PowerTypes.FLY">Volar</mat-option>
            <mat-option [value]="PowerTypes.CONGITIVE">Precognición</mat-option>
            <mat-option [value]="PowerTypes.INVISIBLE">Invisibilidad</mat-option>
            <mat-option [value]="PowerTypes.SENSES">Percepción extrasensorial</mat-option>
            <mat-option [value]="PowerTypes.SHAPE">Cambio de forma</mat-option>
            <mat-option [value]="PowerTypes.STRENGTH">Fuerza sobrehumana</mat-option>
            <mat-option [value]="PowerTypes.TELEPORT">Teleportación</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Edad</mat-label>
        <input type="number" matInput formControlName="age" />
    </mat-form-field>

    <button mat-raised-button (click)="addSuperheroe()">Añadir</button>
    <button mat-raised-button (click)="backToList()">Volver</button>
</form>