<div id="container">
    <mat-toolbar id="top-toolbar">
        <mat-toolbar-row>
            <app-filter-text-component class="textFilter" (clearTextFilter)="clearTextFilter()"
                (textFilterChange)="textFilteringList($event)"></app-filter-text-component>
            <span class="spacer"></span>
            <button mat-raised-button color="primary" (click)="addSuperhero()">Añadir superhéroe
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <div id="low-list-pag">
        <mat-list role="list">
            <mat-list-item class="list-item" *ngFor="let superhero of superheroesToShow" role="listitem">
                <span>{{superhero.name}}</span>
                <span class="spacer"></span>
                <button mat-raised-button (click)="seeSuperheroDetails(superhero)">
                    <mat-icon>edit</mat-icon> Editar
                </button>
                <button mat-raised-button (click)="deleteSuperhero(superhero)">
                    <mat-icon>delete</mat-icon> Eliminar
                </button>
            </mat-list-item>
        </mat-list>
        <mat-paginator [length]="superheroes.length" [pageSize]="10" (page)='paginate($event)'>
        </mat-paginator>
    </div>
</div>