.spacer {
    flex: 1 1 auto;
}

#top-toolbar {    
    width: 100%;
    height: 48px;
}

.textFilter {
    width: 50px;
}

#low-list-pag {
    width: 100%;
}

button {
    margin: 0.8rem;
}

mat-list-item, .list-item {
    height: 46px !important;
    display: flex;
    flex-direction: row;
}